<a href="https://colab.research.google.com/github/Renata-Thomazelli/mentoria2021/blob/main/temperatura_media_analise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Analisando Temperatura média**

---

In [1]:
# Importing Drive
from google.colab import drive

drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
#Importing 
import pandas as pd
import numpy as np
import chardet
import missingno as msno

**Reading CSV**

In [41]:
file_path ='/content/drive/MyDrive/Data_Lake/temperatura_preciptacao/'
tipo = 'tas_'
anos ='1901_2020_'
pais = "CAN"

file = f"{tipo}{anos}{pais}.csv"

In [42]:
with open(f"{file_path}{file}", 'rb') as encoding:
    r_encoding = chardet.detect(encoding.read(100000))
r_encoding

{'confidence': 1.0, 'encoding': 'ascii', 'language': ''}

In [43]:
arquivo = f"{tipo}{pais}"
with open (f"{file_path}{file}",'r',encoding=r_encoding['encoding']) as arquivo :
  df_tas = pd.read_csv(arquivo)

## **DataFrame**

In [44]:
df_tas

      Temperature - (Celsius)   Year    Statistics  Country  ISO3
0                       -25.3   1901   Jan Average   Canada   CAN
1                       -24.7   1901   Feb Average   Canada   CAN
2                       -19.2   1901   Mar Average   Canada   CAN
3                       -10.3   1901   Apr Average   Canada   CAN
4                        -0.2   1901   May Average   Canada   CAN
...                       ...    ...           ...      ...   ...
1435                     10.2   2020   Aug Average   Canada   CAN
1436                      3.7   2020   Sep Average   Canada   CAN
1437                     -5.4   2020   Oct Average   Canada   CAN
1438                    -14.4   2020   Nov Average   Canada   CAN
1439                    -18.3   2020   Dec Average   Canada   CAN

[1440 rows x 5 columns]

In [45]:
df_tas.shape

(1440, 5)

In [46]:
df_tas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1440 entries, 0 to 1439
Data columns (total 5 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Temperature - (Celsius)  1440 non-null   float64
 1    Year                    1440 non-null   int64
 2    Statistics              1440 non-null   object
 3    Country                 1440 non-null   object
 4    ISO3                    1440 non-null   object
dtypes: float64(1), int64(1), object(3)
memory usage: 56.4+ KB

In [47]:
#identificando as columns
df_tas.columns

Index(['Temperature - (Celsius)', ' Year', ' Statistics', ' Country', ' ISO3'], dtype='object')

In [48]:
# #executando a limpeza no nome das colunas
colunas = [c.strip().lower().replace(" ","_") for c in df_tas.columns]
df_tas.columns = colunas
   

df_tas.head(5)

   temperature_-_(celsius)  year    statistics  country  iso3
0                    -25.3  1901   Jan Average   Canada   CAN
1                    -24.7  1901   Feb Average   Canada   CAN
2                    -19.2  1901   Mar Average   Canada   CAN
3                    -10.3  1901   Apr Average   Canada   CAN
4                     -0.2  1901   May Average   Canada   CAN

In [49]:
df_tas.columns

Index(['temperature_-_(celsius)', 'year', 'statistics', 'country', 'iso3'], dtype='object')

In [95]:
def replace (col): 
    return col.replace(" Average",'').strip()

In [118]:
seasons = {"spring":["Mar","Apr","May"], 'summer':["Jun","Jul","Aug"],'autumn':['Sep',"Oct","Nov"],'winter':["Dec","Jan","Feb"]}

In [53]:
 renomeando = {'temperature_-_(celsius)':'temp_celsius', 'statistics':'month'}

In [142]:
def season_2(df):
  for c in df.index:
    for i,v in seasons.items():
      if c in v:
        return i

In [160]:
def estacao_function(row):

  if row['month'] == 'Jan':
    return "winter"

In [96]:
df_tas_test=\
(
    df_tas.loc[df_tas['year']>=1960,:]
    .rename(columns=renomeando)
    .set_index("month")
    .rename(index=replace)
)

In [97]:
df_tas_test

       temp_celsius  year  country  iso3
month
Jan           -24.0  1960   Canada   CAN
Feb           -20.9  1960   Canada   CAN
Mar           -21.5  1960   Canada   CAN
Apr           -10.4  1960   Canada   CAN
May             0.7  1960   Canada   CAN
...             ...   ...      ...   ...
Aug            10.2  2020   Canada   CAN
Sep             3.7  2020   Canada   CAN
Oct            -5.4  2020   Canada   CAN
Nov           -14.4  2020   Canada   CAN
Dec           -18.3  2020   Canada   CAN

[732 rows x 4 columns]

In [143]:
df_tas_test.assign(estacao=season_2)

       temp_celsius  year  country  iso3 estacao
month
Jan           -24.0  1960   Canada   CAN  winter
Feb           -20.9  1960   Canada   CAN  winter
Mar           -21.5  1960   Canada   CAN  winter
Apr           -10.4  1960   Canada   CAN  winter
May             0.7  1960   Canada   CAN  winter
...             ...   ...      ...   ...     ...
Aug            10.2  2020   Canada   CAN  winter
Sep             3.7  2020   Canada   CAN  winter
Oct            -5.4  2020   Canada   CAN  winter
Nov           -14.4  2020   Canada   CAN  winter
Dec           -18.3  2020   Canada   CAN  winter

[732 rows x 5 columns]

In [171]:

    
df_tas_test.reset_index().assign(estacao= df_tas_test.reset_index().apply(estacao_function, axis=1))

    month  temp_celsius  year  country  iso3 estacao
0     Jan         -24.0  1960   Canada   CAN  winter
1     Feb         -20.9  1960   Canada   CAN    None
2     Mar         -21.5  1960   Canada   CAN    None
3     Apr         -10.4  1960   Canada   CAN    None
4     May           0.7  1960   Canada   CAN    None
..    ...           ...   ...      ...   ...     ...
727   Aug          10.2  2020   Canada   CAN    None
728   Sep           3.7  2020   Canada   CAN    None
729   Oct          -5.4  2020   Canada   CAN    None
730   Nov         -14.4  2020   Canada   CAN    None
731   Dec         -18.3  2020   Canada   CAN    None

[732 rows x 6 columns]