<a href="https://colab.research.google.com/github/Renata-Thomazelli/mentoria2021/blob/main/temperatura_media_analise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Analisando Temperatura média**

---

In [1]:
# Importing Drive
from google.colab import drive

drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
#Importing 
import pandas as pd
import numpy as np
import chardet
import missingno as msno

**Reading CSV**

In [10]:
file_path ='/content/drive/MyDrive/Data_Lake/temperatura_preciptacao/'
tipo = 'tas_'
anos ='1901_2020_'
pais = "CAN"

file = f"{tipo}{anos}{pais}.csv"

In [11]:
with open(f"{file_path}{file}", 'rb') as encoding:
    r_encoding = chardet.detect(encoding.read(100000))
r_encoding

{'confidence': 1.0, 'encoding': 'ascii', 'language': ''}

In [13]:
arquivo = f"{tipo}{pais}"
with open (f"{file_path}{file}",'r',encoding=r_encoding['encoding']) as arquivo :
  df_tas = pd.read_csv(arquivo)

## **DataFrame**

In [14]:
df_tas

      Temperature - (Celsius)   Year    Statistics  Country  ISO3
0                       -25.3   1901   Jan Average   Canada   CAN
1                       -24.7   1901   Feb Average   Canada   CAN
2                       -19.2   1901   Mar Average   Canada   CAN
3                       -10.3   1901   Apr Average   Canada   CAN
4                        -0.2   1901   May Average   Canada   CAN
...                       ...    ...           ...      ...   ...
1435                     10.2   2020   Aug Average   Canada   CAN
1436                      3.7   2020   Sep Average   Canada   CAN
1437                     -5.4   2020   Oct Average   Canada   CAN
1438                    -14.4   2020   Nov Average   Canada   CAN
1439                    -18.3   2020   Dec Average   Canada   CAN

[1440 rows x 5 columns]

In [15]:
df_tas.shape

(1440, 5)

In [17]:
df_tas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1440 entries, 0 to 1439
Data columns (total 5 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Temperature - (Celsius)  1440 non-null   float64
 1    Year                    1440 non-null   int64
 2    Statistics              1440 non-null   object
 3    Country                 1440 non-null   object
 4    ISO3                    1440 non-null   object
dtypes: float64(1), int64(1), object(3)
memory usage: 56.4+ KB

In [23]:
#identificando as columns
df_tas.columns

Index(['Temperature - (Celsius)', ' Year', ' Statistics', ' Country', ' ISO3'], dtype='object')

In [26]:
# #executando a limpeza no nome das colunas
colunas = [c.strip().lower().replace(" ","_") for c in df_tas.columns]
df_tas.columns = colunas
   

df_tas.head(5)

   temperature_-_(celsius)  year    statistics  country  iso3
0                    -25.3  1901   Jan Average   Canada   CAN
1                    -24.7  1901   Feb Average   Canada   CAN
2                    -19.2  1901   Mar Average   Canada   CAN
3                    -10.3  1901   Apr Average   Canada   CAN
4                     -0.2  1901   May Average   Canada   CAN

In [35]:
df_tas.columns

Index(['temperature_-_(celsius)', 'year', 'statistics', 'country', 'iso3'], dtype='object')

In [37]:
 renomeando = {'temperature_-_(celsius)':'temp_celsius' }
 
 (
      df_tas.loc[df_tas['year']>=1960,:]
     .rename(columns=renomeando)
     
     ## continuar amanhã 25_08_2021
  ## dividir a coluna 111 statistics month and type
 )

     temp_celsius  year    statistics  country  iso3
708         -24.0  1960   Jan Average   Canada   CAN
709         -20.9  1960   Feb Average   Canada   CAN
710         -21.5  1960   Mar Average   Canada   CAN
711         -10.4  1960   Apr Average   Canada   CAN
712           0.7  1960   May Average   Canada   CAN