<a href="https://colab.research.google.com/github/Renata-Thomazelli/mentoria2021/blob/main/tratando_doc_csv_pr.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <font color='blue'>**Analisando Temperatura média**<font>

**Analisando Temperatura média**


---

##Importing the Data

---

In [1]:
# Importing Drive
from google.colab import drive

drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
#Importing the packages 
import pandas as pd
import numpy as np
import chardet
import missingno as msno
import matplotlib.pyplot as plt
%matplotlib inline

<font color='blue'>  Reading CSV  

Reading CSV

In [3]:
file_path ='/content/drive/MyDrive/Temperatura_Precipitacao_analises/limpos/quartile_for_year/'


file = "pr_seasons_for_year_consolidado.csv"

In [4]:
with open(f"{file_path}{file}", 'rb') as encoding:
    r_encoding = chardet.detect(encoding.read(100000))
r_encoding

{'confidence': 1.0, 'encoding': 'ascii', 'language': ''}

In [13]:

with open (f"{file_path}{file}",'r',encoding=r_encoding['encoding']) as arquivo :
  df_pr = pd.read_csv(arquivo)

<font color='blue'> DataFrame

In [14]:
df_pr

     year    min     25%     50%     75%    max    country iso3 tipo
0    1960   11.3   16.88   51.00   70.20   86.8     Turkey  TUR   pr
1    1961    5.5   25.48   46.40   54.68   93.4     Turkey  TUR   pr
2    1962    6.4   19.38   42.50   52.82  141.0     Turkey  TUR   pr
3    1963    9.3   30.38   59.30   85.80  114.4     Turkey  TUR   pr
4    1964    7.5   19.87   39.15   69.60   88.0     Turkey  TUR   pr
..    ...    ...     ...     ...     ...    ...        ...  ...  ...
849  2016  179.8  225.77  259.10  286.90  298.2  Indonesia  IDN   pr
850  2017  191.9  206.30  269.45  296.10  334.1  Indonesia  IDN   pr
851  2018  145.6  203.68  261.20  282.18  314.6  Indonesia  IDN   pr
852  2019  114.0  175.10  232.90  268.70  286.5  Indonesia  IDN   pr
853  2020  169.6  230.32  257.85  279.00  329.2  Indonesia  IDN   pr

[854 rows x 9 columns]

In [15]:
colunas = [c.strip().lower().replace("50%","pr") for c in df_pr.columns]
df_pr.columns = colunas

In [16]:
df_pr

     year    min     25%      pr     75%    max    country iso3 tipo
0    1960   11.3   16.88   51.00   70.20   86.8     Turkey  TUR   pr
1    1961    5.5   25.48   46.40   54.68   93.4     Turkey  TUR   pr
2    1962    6.4   19.38   42.50   52.82  141.0     Turkey  TUR   pr
3    1963    9.3   30.38   59.30   85.80  114.4     Turkey  TUR   pr
4    1964    7.5   19.87   39.15   69.60   88.0     Turkey  TUR   pr
..    ...    ...     ...     ...     ...    ...        ...  ...  ...
849  2016  179.8  225.77  259.10  286.90  298.2  Indonesia  IDN   pr
850  2017  191.9  206.30  269.45  296.10  334.1  Indonesia  IDN   pr
851  2018  145.6  203.68  261.20  282.18  314.6  Indonesia  IDN   pr
852  2019  114.0  175.10  232.90  268.70  286.5  Indonesia  IDN   pr
853  2020  169.6  230.32  257.85  279.00  329.2  Indonesia  IDN   pr

[854 rows x 9 columns]

In [18]:
df_pr_mediana = pd.pivot_table(df_pr, values =['pr'], columns=['iso3'], index='year')

In [19]:
df_pr_mediana

         pr                               ...
iso3    AUS     BRA    CAN    CHN    DEU  ...    IND     PHL    RUS    TUR    USA
year                                      ...
1960  31.35  133.10  34.10  32.00  62.40  ...  39.40  202.00  27.45  51.00  50.70
1961  26.10  125.25  33.45  41.30  61.20  ...  41.65  200.55  31.95  46.40  55.80
1962  23.65  144.05  34.45  33.30  56.55  ...  44.70  185.85  32.35  42.50  50.00
1963  32.80  137.70  32.30  33.20  49.25  ...  41.20  168.30  33.20  59.30  49.15
1964  34.60  156.00  34.60  51.95  48.85  ...  39.00  240.35  31.65  39.15  55.65
...     ...     ...    ...    ...    ...  ...    ...     ...    ...    ...    ...
2016  31.50  129.30  32.60  48.85  53.35  ...  38.65  204.55  30.40  45.85  57.70
2017  29.60  138.20  36.15  42.85  64.95  ...  44.50  260.90  36.50  50.65  61.75
2018  22.90  151.05  33.25  33.10  45.80  ...  38.00  217.10  32.90  54.65  64.80
2019  21.85  147.90  31.90  37.95  61.05  ...  36.60  204.00  35.10  44.95  64.10
2020  27.80  140.95  33.40  31.80  50.85  ...  48.85  201.65  36.10  47.05  54.80

[61 rows x 14 columns]

In [21]:
df_pr_mediana =df_pr_mediana.swaplevel(i=-2,j=-1,axis=1)

In [22]:
df_pr_mediana

iso3    AUS     BRA    CAN    CHN    DEU  ...    IND     PHL    RUS    TUR    USA
         pr      pr     pr     pr     pr  ...     pr      pr     pr     pr     pr
year                                      ...
1960  31.35  133.10  34.10  32.00  62.40  ...  39.40  202.00  27.45  51.00  50.70
1961  26.10  125.25  33.45  41.30  61.20  ...  41.65  200.55  31.95  46.40  55.80
1962  23.65  144.05  34.45  33.30  56.55  ...  44.70  185.85  32.35  42.50  50.00
1963  32.80  137.70  32.30  33.20  49.25  ...  41.20  168.30  33.20  59.30  49.15
1964  34.60  156.00  34.60  51.95  48.85  ...  39.00  240.35  31.65  39.15  55.65
...     ...     ...    ...    ...    ...  ...    ...     ...    ...    ...    ...
2016  31.50  129.30  32.60  48.85  53.35  ...  38.65  204.55  30.40  45.85  57.70
2017  29.60  138.20  36.15  42.85  64.95  ...  44.50  260.90  36.50  50.65  61.75
2018  22.90  151.05  33.25  33.10  45.80  ...  38.00  217.10  32.90  54.65  64.80
2019  21.85  147.90  31.90  37.95  61.05  ...  36.60  204.00  35.10  44.95  64.10
2020  27.80  140.95  33.40  31.80  50.85  ...  48.85  201.65  36.10  47.05  54.80

[61 rows x 14 columns]

In [23]:
df_pr_mediana.index.name=None

In [24]:
df_pr_mediana

iso3    AUS     BRA    CAN    CHN    DEU  ...    IND     PHL    RUS    TUR    USA
         pr      pr     pr     pr     pr  ...     pr      pr     pr     pr     pr
1960  31.35  133.10  34.10  32.00  62.40  ...  39.40  202.00  27.45  51.00  50.70
1961  26.10  125.25  33.45  41.30  61.20  ...  41.65  200.55  31.95  46.40  55.80
1962  23.65  144.05  34.45  33.30  56.55  ...  44.70  185.85  32.35  42.50  50.00
1963  32.80  137.70  32.30  33.20  49.25  ...  41.20  168.30  33.20  59.30  49.15
1964  34.60  156.00  34.60  51.95  48.85  ...  39.00  240.35  31.65  39.15  55.65
...     ...     ...    ...    ...    ...  ...    ...     ...    ...    ...    ...
2016  31.50  129.30  32.60  48.85  53.35  ...  38.65  204.55  30.40  45.85  57.70
2017  29.60  138.20  36.15  42.85  64.95  ...  44.50  260.90  36.50  50.65  61.75
2018  22.90  151.05  33.25  33.10  45.80  ...  38.00  217.10  32.90  54.65  64.80
2019  21.85  147.90  31.90  37.95  61.05  ...  36.60  204.00  35.10  44.95  64.10
2020  27.80  140.95  33.40  31.80  50.85  ...  48.85  201.65  36.10  47.05  54.80

[61 rows x 14 columns]

In [25]:
caminho ='/content/drive/MyDrive/Temperatura_Precipitacao_analises/limpos/'
nome = 'df_pr_mediana.csv'
df_pr_mediana.to_csv(f"{caminho}{nome}")